*.a
*.bak
*.diff
*.exe
*.log
*.o
*.orig
*.out
*.output
*.pdf
*.rej
*.stamp
*.tmp
*.trs
*~
.deps/
.dirstamp
/*.cache
/*.flc
/*.prj
/.tarball-version
/.version
/ABOUT-NLS
/COPYING
/ChangeLog
/GNUmakefile
/INSTALL
/Makefile
/Makefile.in
/README-release
/_*
/aclocal.m4
/bison-*
/build-aux/move-if-change
/conf[0-9]*
/confdefs*
/config.log
/config.status
/configure
/configure.lineno
/conftest*
/gnulib
/javacomp.sh
/javaexec.sh
/maint.mk
/patches
/releases
/stamp-h*
